.car-detail .grid {
  gap: 50px;
}

.car-detail .grid .car-type .row {
  display: flex;
  justify-content: space-between;
}

/* Call to action container */
.car-detail .call-to-action {
  display: flex;
  padding-top: 5em;
  justify-content: space-between;
  align-items: center;
}

/* Links binnen call-to-action */
.car-detail .call-to-action .row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* Knop rechts zetten */
.car-detail .call-to-action .row:last-of-type {
  display: flex;
  justify-content: flex-end;
}