/* Advertorial Section */
.advertorials {
  padding: 1em 4em 0 4em;
  display: flex;
  gap: 1em;
  position: relative;
  overflow: hidden;
}

.advertorial {
  flex: 1;
  background-color: #54A6FF;
  display: flex;
  padding: 24px;
  flex-direction: column;
  border-radius: 10px;
  position: relative; /* needed for absolutely positioned images */

  h2 {
    color: white;
    max-width: 50%;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.03em;
    margin: 0;
    z-index: 1; /* ensure text is above images */
    position: relative;
  }

  p {
    color: white;
    max-width: 50%;
    z-index: 1;
    position: relative;
  }

  /* Images inside the advertorial */
  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    max-width: 150px; /* adjust size */
  }

  /* Specific image classes for left and right */
  .background-header-left {
    left: 0;
  }

  .background-header-right {
    right: 0;
  }
}